/* Reset default margin and padding */
body{ 
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction:column; 
  margin: auto;
  
  background-image: url("Background.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-repeat: no-repeat;
  margin:auto;
  padding:0;



  color: #00fff2;
  font-size: 20px;
  font-family: 'Titan One', monospace;
  letter-spacing: 1px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #00000000;
    color: #ffffff;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #00000000;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  main {
    height: auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 5vh;
    
    color: #00fff2;
    font-size: 20px;
    letter-spacing: 0px;
    font-family: 'Fira Mono', monospace;
    padding: 60px;
    
  }
  
  footer {
    background-color: #00000000;
    color: #ff0000;
    text-align: center;
    padding: 1rem 0;
  }
  